a {
  text-decoration: none;
}
li {
  list-style: none;
}
.results-container {
  padding: 5% 5%;
}

.results-list {
}

.results-list > a {
  margin: 10px;
}
.results-list > a > li > h2 {
  letter-spacing: 0.25px;
  font-family: 'Roboto';
  color: #ff6f61;
}
.results-list > a > li > h4 {
  letter-spacing: 0.25px;
  color: gray;
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: 500;
}
